@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #F0F1F3;
  --foreground: #1c1c22;
  --card: #FFFFFF;
  --navbar: #FFFFFF;
  --muted: #6b7280;
  --primary: #fb923c;
  --border: rgba(251, 146, 60, 0.1);
  --glow: rgba(251, 146, 60, 0.5);
}

.dark {
  --background: #1c1c22;
  --foreground: #ededed;
  --card: #23232a;
  --navbar: #1c1c22;
  --muted: #9ca3af;
  --primary: #fb923c;
  --border: rgba(251, 146, 60, 0.1);
  --glow: rgba(251, 146, 60, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-navbar: var(--navbar);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --background-image-primary-gradient: linear-gradient(to right, #f97316, #ea580c);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  transition: background-color 0.3s ease, color 0.3s ease;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 100s linear infinite;
}
@keyframes formMarquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-form-marquee {
  animation: formMarquee 40s linear infinite; /* faster than skills bar */
}

